.offcanvas {
    border-radius: 0px 20px 20px 0px;
    width: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.padd {
    float: left;
    padding-left: 50px;
}

li a:hover {
    color: green;
    width: cover;
}